*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}
body{
  width: 100%;
  height: 100vh;
  background:linear-gradient(#68E7CE, #4A80E7);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.form{
  width: 530px;
  margin-top: 30px;
  height: auto;
}
.write{
  width: 100%;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.466);
  border-radius: 10px;
  padding: 15px;
  display: flex;
}
.input{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.text_inp{
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input{
  border: none;
  outline: none;
  width: 100%;
  font-size: 17px;
}
.line{
  width: 0%;
  height: 2px;
  transition: width .5s linear;
  background-color: rgb(0, 132, 255);
  margin-top: 3px;
}
input:focus ~ .line{
  width: 100%;
}
.icon{
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  cursor: pointer;
}
.icon:hover{
  background-color: rgba(0, 0, 0, 0.548);
}
.tasks{
  width: 100%;
  margin-top: 40px;
  background-color: rgba(255, 255, 255, 0.466);
  border-radius: 10px;
  padding: 15px;
}
.title{
  color: #333;
  user-select: none;
}

ul{
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #fff;
}
li{
  width: 100%;
  height: 40px;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid gray;
  position: relative;
  overflow: hidden;
}
.delete{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgb(182, 23, 63);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  display: none;
}
li:hover .delete{
  display: flex;
}
li:hover  .dateBlock .date{
  display: none;
}
.delete:hover{
  background-color: rgb(200, 0, 50);
}
li:nth-of-type(1){
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: linear-gradient(to right, rgb(123, 44, 197), rgb(79, 39, 223));
  color: #fff;
  border: none;
}
.word{
  width: 45%;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dateBlock{
  width: 100px;
}
.index{
  height: 100%;
  width: 25px;
  text-align: left;
  display: flex;
  align-items: center;
}
.date{
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 12px;
}
#date{
  font-size: 16px;
}